@function pxToRem($pixel) {
  @return $pixel / 16 + rem;
}

html {
  scroll-timeline: --page-scroll block;
}

.heading {
  font-size: clamp(8rem, 11.077vw + 0.731rem, 12.5rem);
  line-height: 0.95;
}

.progress-bar {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: pxToRem(80);
  left: pxToRem(88);
  position: fixed;
  top: 50%;
  transform: rotate(90deg) translate(-50%, -50%);
  transform-origin: top left;
  width: pxToRem(440);

  > * {
    line-height: 1.5;
  }
}

%progress-bar__text {
  font-size: pxToRem(80);
  font-weight: bold;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.progress-bar__text {
  @extend %progress-bar__text;
  color: transparent;
  -webkit-text-stroke: 2px black;

  &::before,
  &::after {
    @extend %progress-bar__text;
    line-height: 1.5;
  }

  &::before {
    color: #fff;
    content: attr(data-text);
  }

  &::after {
    animation: clip-fill auto linear;
    // animation-timeline: scroll();
    animation-timeline: --page-scroll;
    background: #d080ff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    content: attr(data-text);
  }
}

@keyframes clip-fill {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

// Author & Frontendly
.c-author {
  color: #404040; // #404040 // #dbdbdb #7c7a7a
  margin: 50px 0 10px;
  text-align: center;
  position: fixed;
  left: 50%;
  bottom: 20px;
}

.c-author__link {
  color: #404040;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::before,
  &::after {
    bottom: 0;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    z-index: -1;
  }

  &::before {
    background-color: #dbdbdb;
    width: 100%;
  }

  &::after {
    background-color: #c584f8;
    transition: width 0.3s ease-in-out;
    width: 0;
    will-change: width;
  }

  &:hover::after {
    width: 100%;
  }
}
